* {
    margin: 0;
    padding: 0;
}

nav {
    display: flex;
    justify-content: center;
    background-color: #2ec4b6;
    padding: 50px;
}

#main-container {
    display: flex;
    flex-wrap: wrap;
    background-color: #cbf3f0;
    padding: 50px;
}
  
button {
    background-color: #ff9f1c;
    height: 50px;
    width: 150px;
    border-radius: 10px;
    margin: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
    font-weight: bold;
}
  
input {
    height: 38px;
    width: 200px;
    margin: 20px;
    border-radius: 10px;
    border: solid black 2px;
    padding: 5px;
}

.pokemon-container {
    border: solid 2px black;
    border-radius: 10px;
    margin: 10px;
    padding: 10px;
    background-color: #cde5d7;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.type-container {
    display: flex;
}

.type-box {
    border: solid 1px black;
    margin: 10px;
    padding: 5px;
    border-radius: 5px;
    color: white;
    text-shadow: 1px 1px 1px black;
}